@import-normalize; /* bring in normalize.css styles */

body {
  background: #040404;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #111111;
  width: 100%;
  height: 100vh;
  margin-right: 16px;
  width: inherit;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  padding: 8px 4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}
